@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800");
body {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #121212;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth
}

hr {
    color: #dc3545 !important;
}

.link:hover {
    font-weight: bold !important;
}

img {
    max-width: 90%;
    margin: auto;
    display: block;
}

.color-primary {
    color: #dc3545 !important;
}

.bg-primary {
    background-color: #dc3545 !important;
}

.color-secondary {
    color: #0066ff;
}

.bg-secondary {
    background-color: #0066ff;
}

button:hover {
    background-color: #0066ff !important;
}

.title {
    padding-top: 70px;
    font-size: 30px;
    line-height: 45px;
    font-weight: 500;
}

/* -------------- HLAVIČKA -------------- */
.header-title {
    padding: 8rem 0;
    font-size: 2.5rem;
    line-height: 3.5rem;
    color: black;
    font-weight: 800;
}

/* -------------- NAVIGACE -------------- */
nav #logo {
    width: 7.5rem;
}

.nav-item:hover {
    color: #0066ff !important;
}

.navbar-light .navbar-nav .nav-link {
    font-weight: bold;
}


.navbar-light .navbar-nav .nav-link:hover {
    color: #dc3545 !important;
}

.dropdown-item {
    font-weight: bold;
}

.reference-button {
    padding: 1rem 2rem; /* vycentrovani tlacitka */
    border-radius: 8px;
    overflow: hidden;
    color: white;
    font-weight: bold;
    font-size: 24px;
    background-color: #dc3545;
    height: 80px;
}

.reference-button:hover {
    color: white !important;
}

.reference-button:hover i:before {
    content: "\f32d";
}

/* -------------- SLUŽBY -------------- */
.services-area {
    margin-top: 120px;
    margin-bottom: 30px;
}
.services-detail {
    padding: 10px;
}

.services-content .services-icon i {
    color: #dc3545;
    font-size: 42px;
    margin: 1rem 0;
}

/* -------------- CERTIFIKÁTY -------------- */
.certificate-area {
    padding-top: 20px;
    margin-bottom: 50px;
}

.certificate-img {
    cursor: zoom-in; /* TODO Nefunguje */
}

/* -------------- REFERENCE -------------- */
.filterClass {
    color: #ffffff;
    text-align: center;
    margin: 2px;
    display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .reference-desc-title {
        font-size: 1.5rem !important;
    }
    .reference-desc-menu {
        font-size: 1rem !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .reference-desc-title {
        font-size: 1.5rem !important;
    }
    .reference-desc-menu {
        font-size: 1rem !important;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .reference-desc-title {
        font-size: 1.5rem !important;
    }
    .reference-desc-menu {
        font-size: 1rem !important;
    }
}

@media screen and (min-width: 1200px) {
    .reference-desc-title {
        font-size: 2rem !important;
    }
    .reference-desc-menu {
        font-size: 1rem !important;
    }
}

.hide {
    display: none;
    float: left;
    position: absolute;
    left: 0;
    top: 0;
}

.reference-overlay {
    padding: 0;
    margin: 0;
    position: relative;
    display: inline-block;
}

.reference-overlay > img {
    vertical-align: middle;
}

.reference-overlay::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #dc3545;
    opacity: 0;
    transition: .5s ease;
}

.reference-overlay:hover .hide {
    display: flex;
    align-items: center;
}

.reference-overlay:hover::before {
    opacity: 0.8;
}

/* -------------- DODAVATELÉ -------------- */
.dodavatele {
    margin-top: 24px;
}

.dodavatele img {
    padding: 10px;
    opacity: 0.3;
    transition: all 0.3s ease-out 0s;
    /* Vrstva šedé barvy, který překryje obrázek a na :hover zmizí */
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

    @media screen and (min-width: 576px) and (max-width: 768px) {
        .dodavatele img {
            width: 15rem;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 992px) {
        .dodavatele img {
            width: 18rem;
            margin: .5rem 0;
        }
    }

    @media screen and (min-width: 992px) {
        .dodavatele img {
            width: 25rem;
        }
    }

.dodavatele img:hover {
    opacity: 1;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

/* -------------- KONTAKTY -------------- */
.lst-none {
    list-style-type: none;
}

/* -------------- FOOTER -------------- */
footer {

}

footer img {
    max-width: 5rem;
    margin-bottom: 5px;
}

.copyright {
    padding: 23px 0; }
.copyright .text {
    color: #6c6c6c;
    font-size: 1rem
}

/* -------------- BTT -------------- */
#backToTop { /* Tlacitko co po kliknuti presune uzivatele na zacatek stranky*/
    display: none;
    position: fixed;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 100%;
    text-align: center;
    background-color: #dc3545;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 30px;
    color: #fff; }
#backToTop:hover {
    background-color: #0067f4;
    color: #fff; }

