@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap");
body {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #121212
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth
}

hr {
    color: #dc3545 !important
}

.link:hover {
    font-weight: bold !important
}

img {
    margin: auto;
    display: block
}

.color-primary {
    color: #dc3545 !important
}

.bg-primary {
    background-color: #dc3545 !important
}

.color-secondary {
    color: #0066ff
}

.bg-secondary {
    background-color: #0066ff !important
}

#submitButton:hover {
    background-color: #0066ff !important
}

.title {
    padding-top: 70px;
    font-size: 30px;
    line-height: 45px;
    font-weight: 500
}

/* -------------- HLAVIČKA -------------- */
.header-title {
    padding: 8rem 0;
    font-size: 2.5rem;
    line-height: 3.5rem;
    color: white;
    font-weight: 800
}

.hero {
    background-image: url("https://raw.githubusercontent.com/MarvelousMartin/bachelor-thesis/master/assets/images/hero.webp");
    height: 457px;
    background-position: center;
    background-size: cover
}

/* -------------- NAVIGACE -------------- */
nav #logo {
    width: 7.5rem
}

.nav-item:hover {
    color: #0066ff !important
}

.navbar-light .navbar-nav .nav-link {
    font-weight: bold
}


.navbar-light .navbar-nav .nav-link:hover {
    color: #dc3545 !important
}

.dropdown-item {
    font-weight: bold
}

.reference-button {
    padding: 1rem 2rem; /* Vycentrování tlačítka */
    border-radius: 8px;
    overflow: hidden;
    color: white;
    font-weight: bold;
    font-size: 24px;
    background-color: #dc3545;
    height: 80px
}

.reference-button-small {
    padding: .5rem;
    border-radius: 7px;
    overflow: hidden;
    color: white;
    font-weight: bold;
    font-size: 14px;
    background-color: #dc3545;
    height: 20px
}

.reference-button:hover {
    color: white !important
}

.reference-button:hover i:before {
    content: "\f32d"
}

.reference-button-small:hover {
    color: white !important
}

.dropdown-item:hover {
    background-color: #dc3545 !important;
    color: white
}

/* -------------- SLUŽBY -------------- */
.services-area {
    margin-bottom: 30px
}
.services-detail {
    padding: 10px
}

.services-content .services-icon i {
    color: #dc3545;
    font-size: 42px;
    margin: 1rem 0
}

/* -------------- CERTIFIKÁTY -------------- */
.certificate-area {
    padding-top: 20px;
    margin-bottom: 50px
}

.certificate-img {
    cursor: zoom-in;
    border: 1px solid darkgray;
    max-width: 90%
}

.certificate-hr {
    padding-top: 2px;
    opacity: 0.8;
    max-width: 90%;
   display: block;
    margin: 15px auto
}

/* -------------- REFERENCE -------------- */
.filterClass {
    color: #ffffff;
    text-align: center;
    display: none /* Výchozí nastavení - schované */
}

/* Třída "show" je přidána k filtrovaným elementům */
.show {
    display: block
}

.reference-desc {
    color: white
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .reference-desc-title {
        font-size: 1.5rem !important
    }
    .reference-desc-menu {
        font-size: 1rem !important
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .reference-desc-title {
        font-size: 1.5rem !important
    }
    .reference-desc-menu {
        font-size: 1rem !important
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .reference-desc-title {
        font-size: 1.5rem !important
    }
    .reference-desc-menu {
        font-size: 1rem !important
    }
}

@media screen and (min-width: 1200px) {
    .reference-desc-title {
        font-size: 2rem !important
    }
    .reference-desc-menu {
        font-size: 1rem !important
    }
}

.hide {
    display: none;
    float: left;
    position: absolute;
    left: 0;
    top: 0
}

.reference-overlay {
    padding: 0;
    margin: 0;
    position: relative;
    display: inline-block;
    cursor: pointer
}

.reference-overlay > img {
    vertical-align: middle
}

.reference-overlay::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #dc3545;
    opacity: 0;
    transition: .5s ease
}

.reference-overlay:hover .hide {
    display: flex;
    align-items: center
}

.reference-overlay:hover::before {
    opacity: 0.8
}

.reference-img {
    object-fit: cover;
    max-width: 100% !important
}

/* -------------- DODAVATELÉ -------------- */
.dodavatele {
    margin-top: 24px
}

.dodavatele img {
    padding: 10px;
    opacity: 0.3;
    transition: all 0.3s ease-out 0s;
    /* Vrstva šedé barvy, který překryje obrázek a na :hover zmizí */
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    max-width: 90%
}

    @media screen and (min-width: 576px) and (max-width: 768px) {
        .dodavatele img {
            width: 15rem
        }
    }

    @media screen and (min-width: 768px) and (max-width: 992px) {
        .dodavatele img {
            width: 18rem;
            margin: .5rem 0
        }
    }

    @media screen and (min-width: 992px) {
        .dodavatele img {
            width: 25rem
        }
    }

.dodavatele img:hover {
    opacity: 1;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%)
}

/* -------------- KONTAKTY -------------- */
.lst-none {
    list-style-type: none
}

@media screen and (max-width: 374px) {
    .phone-icon {
        display: none
    }
}

/* -------------- FOOTER -------------- */
footer img {
    max-width: 5rem;
    margin-bottom: 5px
}

.copyright {
    padding: 0
}
.copyright .text {
    color: #6c6c6c;
    font-size: 1rem
}

/* -------------- BTT -------------- */
#backToTop { /* Tlacitko co po kliknuti presune uzivatele na zacatek stranky*/
    display: none;
    position: fixed;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 100%;
    text-align: center;
    background-color: #dc3545;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 30px;
    color: #fff
}
#backToTop:hover {
    background-color: #0067f4;
    color: #fff
}
